---
import { db, Book } from "astro:db";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Bookshelf";

const books = await db.select().from(Book);
---

<BaseLayout pageTitle={pageTitle}>
	<ul>
		{
			books.map((book) => (
				<div>
					<img
						src={book.cover}
						alt={`Cover of ${book.title}`}
					/>
					<h3>{book.title}</h3>
				</div>
			))
		}
	</ul>
</BaseLayout>
