---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const publishedPosts = await getCollection("posts", ({ data }) => {
    let now = new Date();
    return data.pubDate <= now;
});

const pageTitle = "Chrispy garden";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        The home for my blog posts, notes, thoughts, and opinions I may or may
        not be qualified to share
    </p>
    <ul>
        {
            publishedPosts.map((post) => (
                <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
            ))
        }
    </ul>
</BaseLayout>
