---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Chris Pohlman";
---

<BaseLayout pageTitle={pageTitle}>
    <main>
        <h2><a href="/garden">The Chrispy Garden/Blog</a></h2>
        <p>
            This is a home for all of my writing, some of it is well thought out
            and organized, while other parts might be less so. The idea for a
            blog that takes this garden like approach to writing came from an
            episode of the <a href="https://shoptalkshow.com/583/">Shoptalk</a> podcast
            featuring Maggie Appleton. You can and should expect this area to be
            filled with thoughts and opinions I may or may not be qualified to have.
        </p>
        <h2><a href="/projects">Projects</a></h2>
        <p>
            A home for all of my projects I've "completed" with links to the
            ones that are publicly viewable online as well as the source code
            for each of them. I attempted to theme the layout after a pizza menu
            for a restaurant because I spent a lot of years making pizza
            professionally and still enjoy eating it recreationally.
        </p>
    </main>
</BaseLayout>
