---
import { db, media, or, eq } from "astro:db";

const books = await db.select().from(media).where(eq(media.medium, "Books"));
const thingsToWatch = await db
    .select()
    .from(media)
    .where(or(eq(media.medium, "TV shows"), eq(media.medium, "Movies")));
const games = await db
    .select()
    .from(media)
    .where(or(eq(media.medium, "Video Games")));
---

<h2>Random thing to watch, play or read</h2>

<h3>Watch</h3>
