---
import _ from "lodash";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
let menuEntries = await getCollection("menus");
menuEntries = _.orderBy(menuEntries, "data.title", "desc");

const pageTitle = "Weekly Menus";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        My weekly meal plans, if you aren't me or my fiance, you probably don't
        have any reason to care about any of these, but putting them here was
        convienient.
    </p>
    <ul>
        {
            menuEntries.map((menu) => (
                <BlogPost url={`/menus/${menu.slug}`} title={menu.data.title} />
            ))
        }
    </ul>
</BaseLayout>
