---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

import NewRecipe from "@/components/NewRecipe.vue";
import { db, Recipe } from "astro:db";

const recipes = await getCollection("recipes");
const db_recipes = await db.select().from(Recipe);

const pageTitle = "Recipes";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        My personal collection of recipes that I have found or made, none of
        these are original unless otherwise marked.
    </p>
    <ul>
        {
            recipes.map((recipe) => (
                <BlogPost
                    url={`/recipes/${recipe.slug}`}
                    title={recipe.data.name}
                />
            ))
        }
    </ul>

    <ul>
        {db_recipes.map((recipe) => <li>{recipe.title}</li>)}
    </ul>

    <NewRecipe client:load />
</BaseLayout>
