---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<style>
    .main {
        max-width: 80vw;
        margin: 2em;
    }
</style>
<BaseLayout pageTitle={frontmatter.title}>
    <main class="main">
        <slot />
    </main>
</BaseLayout>
