---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.name}>
    <main>
        <p>This recipe came from: {frontmatter.source}</p>
        <slot />
    </main>
</BaseLayout>
